

body {
    background-image: url("../Images/viktor-mogilat-12728-unsplash.jpg");
}

.container {
    background-color: rgba(255, 235, 231, .5);
    border-radius: 15px;
}

.picture {
    width: 100%;
}

.modal-content {
    background-color: rgb(255, 235, 231);
}

.whyVenue {
    font-size: 20px !important;
    font-family: 'Bitter', serif;
}


.pix {
    width: 90%;
    height: 90%;
}
#slogan {
    font-size: 80px;
    font-family: 'Tangerine', cursive;
}

#story1 {
    width: 200px;
    float: left;
}

#story2 {
    width: 300px;
    float: right;
}

#story3 {
    width: 300px;
    float: left;
}

.role {
    font-size: 25px;
}

a {
    color: black !important;
}

.bridalParty {
    height: 300px;
    border-radius: 50%;
}
.navbar-brand {
    width: 100%;
}

.foot {
    background-color: rgba(255, 235, 231, .5);
    font-family: 'Tangerine', cursive;
    font-size: 20px;
}

.navbar {
    font-family: 'Bitter', serif;
    font-size: 50px;
    border-bottom:2px solid #000;
    background-color: rgba(255, 235, 231, .5)
    }

.nav-link {
    color: black !important;
}

.cart {
    border-radius: 15px;
    width: 70% !important;
    margin: auto;
}

#names {
    font-size: 90px;
    font-family: 'Lovers Quarrel', cursive;
}

#name {
    font-size: 50px;
}

p {
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}

.story {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.info {
    font-size: 25px;
}

.hisHers {
    font-size: 60px;
    font-family: 'Lovers Quarrel', cursive;
    border-bottom:1px solid #000;
}

#demo {
    font-size: 30px;
    font-family: 'Tangerine', cursive;
}

#manor {
    width: 45%;
    float: left;    
}

#manor1 {
    width: 45%;
    float: right;
}

#wLeft {
    border-right: 1px solid #000;
}

.dropdown-item {
    font-size: 30px;
}


.topper {
    font-size: 15px !important;
}

#head {
    font-size: 40px;
    font-family: 'Lovers Quarrel', cursive;
    border-bottom: 1px solid #000;
}

#wwContent {
    font-size: 30px;
    font-family: 'Tangerine', cursive;
}

.carousel-item {
    height: 550px;
    overflow: hidden;
    width: 100%;
    }
    .carousel-item img {
    width: 100%;
    }